.principal{
    display: flex;
    justify-content: center;
}

.conteiner{
    width:250px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 1px 6px rgb(183, 123, 133);
    margin: 10px;
    align-items: center;
}

.imagem{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.card-preco{
    color: rgb(128, 0, 55);
    font-weight: bold;
    font-size: 20px;
}